body {
  background: #f7f7f7;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.container {
  margin: 50px auto;
  padding: 50px 50px 10px 50px;
  max-width: 600px;
}

a {
  color: #93deff;
}

h1 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #606470;
}

form {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  width: 80%;
  border: 0.5px solid #606470;
  border-radius: 50px;
  line-height: 20px;
  font-size: 16px;
  color: #323643;
}

.submit-button {
  margin-left: 10px;
  background: #93deff;
  color: white;
  border: none;
  width: 150px;
  border-radius: 50px;
  padding: 16px 30px;
  font-size: 18px;
}

.submit-button:hover {
  cursor: pointer;
  background: #05aff8;
}

.fact-output {
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: 2;
  background-color: white;
  border-radius: 15px;
  border-left: 6px solid #93deff;
}

.fact-output strong {
  color: #93deff;
}

.disclaimer {
  color: #606470;
  font-style: italic;
}

footer {
  margin-bottom: 50px;
  text-align: center;
  font-size: 15px;
}
